---
import { twMerge } from 'tailwind-merge';
import AnchorLink from '../components/AnchorLink.astro';
import ChildPageContainer from '../components/ChildPageContainer.astro';
import License from '../components/License.astro';
import { allData } from '../contents/data';
import Layout from '../layouts/Layout.astro';

const title = '資料・動画ダウンロード';
---

<Layout title={title + ' | 基礎から学ぶ著作権'}>
  <ChildPageContainer title={title} hideH1={true}>
    <div class="flex flex-wrap justify-start gap-3 gap-y-1 lg:gap-4">
      <AnchorLink href="#scenario">資料</AnchorLink>
      <AnchorLink href="#video">動画ダウンロード</AnchorLink>
    </div>
    <section class="grid gap-6 md:gap-10">
      <h2
        id="scenario"
        class="border-b-2 border-sky-400 pb-4 !text-2xl/normal font-bold lg:!text-[2rem]"
      >
        資料
      </h2>
      <div class="grid gap-4 rounded-2xl bg-neutral-100 p-6">
        <License
          excludeNd
          align="right"
          reverse
          className="grid place-content-center"
        />
        <p>
          このページにあるpdfファイル(シナリオ・関連資料)とpptxファイル(解説スライド)についてはCC
          BY
          4.0で提供します。シナリオ、解説スライド、関連資料を利用する場合は「基礎から学ぶ著作権資料/AXIES/CC
          BY 4.0」のようにクレジットを表示してください。なお、動画教材は、CC
          BY-ND 4.0 での提供となります。
        </p>
      </div>
      <div class="grid">
        {
          allData.map(({ id, title, documents }, i) => {
            // const pdfSrc = `${id.toString().padStart(2, '0')}.pdf`;
            return (
              <div
                class={twMerge(
                  i % 2 === 0 ? 'bg-neutral-100 md:bg-neutral-50' : 'bg-white',
                  'flex flex-col gap-0 p-4 md:flex-row md:gap-4'
                )}
              >
                <div class="-mt-px flex gap-1 font-barlow text-xs/tight md:min-w-[3.3125rem]">
                  <div class="md:py-[0.40625rem]">
                    STORY
                    <span>{id.toString().padStart(2, '0')}</span>
                  </div>
                </div>
                <div class="flex flex-col gap-2 md:gap-2">
                  <div class="md:flex">
                    <h3 class="text-sm/snug font-bold md:text-lg">{title}</h3>
                  </div>
                  <div class="flex flex-col flex-wrap gap-2 md:flex-row md:gap-6 md:gap-y-2">
                    {documents.map(({ label = 'シナリオ', filename }) => (
                      <a
                        class="w-fit rounded-sm border-b border-neutral-400 leading-relaxed text-neutral-600 outline-none hover:opacity-75 focus-visible:border-transparent focus-visible:ring-1 focus-visible:ring-sky-500"
                        target="_blank"
                        rel="noreferrer noopener"
                        href={`/assets/pdf/${filename}`}
                      >
                        {label}
                      </a>
                    ))}
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
    <section class="grid gap-6 md:gap-10">
      <h2
        id="video"
        class="border-b-2 border-sky-400 pb-4 !text-2xl/normal font-bold lg:!text-[2rem]"
      >
        動画ダウンロード
      </h2>
      <div class="grid gap-4 rounded-2xl bg-neutral-100 p-6">
        <License align="right" reverse className="grid place-content-center" />
        <p>
          本動画は「基礎から学ぶ著作権/AXIES/CC BY-ND
          4.0」のようにクレジットを表記し、改変禁止の条件の下で利用してください。
        </p>
      </div>
      <div class="grid">
        <div class="flex flex-col gap-0 bg-neutral-50 p-4 md:flex-row md:gap-4">
          <div class="flex flex-col gap-2 md:gap-2">
            <div class="md:flex">
              <h3 class="text-sm/snug font-bold md:text-lg">
                全ての動画を一括ダウンロード
              </h3>
            </div>
            <div class="flex flex-col gap-2 md:flex-row md:gap-6">
              <a
                class="w-fit rounded-sm border-b border-neutral-400 leading-relaxed text-neutral-600 outline-none hover:opacity-75 focus-visible:border-transparent focus-visible:ring-1 focus-visible:ring-sky-500"
                target="_blank"
                rel="noreferrer noopener"
                href="https://copyright-edu.axies.jp/video/clips/alldata2024.zip"
              >
                ダウンロード
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ChildPageContainer>
</Layout>
