---
import { twMerge } from 'tailwind-merge';

interface Props {
  align?: 'right' | 'left' | 'center';
  excludeNd?: boolean;
  className?: string;
  reverse?: boolean;
}

const markNames = ['cc', 'by', 'nd'];
const { align, excludeNd, className, reverse } = Astro.props;

const ccPageUrl = excludeNd
  ? 'https://creativecommons.org/licenses/by/4.0/'
  : 'https://creativecommons.org/licenses/by-nd/4.0/';
const title = excludeNd
  ? '表示 4.0 国際（CC BY 4.0）'
  : '表示-改変禁止 4.0 国際（CC BY-ND4.0）';
---

<div class={className}>
  <a
    href={ccPageUrl}
    target="_blank"
    rel="noreferrer noopener"
    class="inline-block rounded-sm outline-none transition-all hover:opacity-75 focus-visible:ring-1 focus-visible:ring-sky-500"
  >
    <div
      class={twMerge(
        'flex flex-col items-center',
        reverse && 'flex-col-reverse gap-2 md:flex-row-reverse md:gap-0',
        align === 'right' && 'xl:flex-row-reverse xl:[&>p]:mt-0',
        align === 'left' && 'md:items-start'
      )}
    >
      <div class="flex gap-0.5">
        {
          markNames.map((markName) => {
            if (excludeNd && markName === 'nd') return;

            const src = `/assets/images/icon-${markName}.svg`;
            const alt = `クリエイティブ・コモンズ・ライセンスの ${markName.toUpperCase()} マーク`;
            return <img src={src} alt={alt} width="22" height="22" />;
          })
        }
      </div>
      <p class="mt-1 text-xs/normal">{title}</p>
    </div>
  </a>
</div>
