---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/index.css';

export interface Props {
  title: string;
  ogType?: string;
  isEn?: boolean;
}

const { title, ogType, isEn } = Astro.props;
const siteName = isEn
  ? 'Learning about Copyright from the Basics'
  : '基礎から学ぶ著作権';
const description = isEn
  ? 'The video was created to help university students learn about the copyright system from the basics in an easy-to-understand way. The video was produced with the support of the Common Purpose Fund of the Society for the Administration of Remuneration for Public Transmission for School Lessons (SARTRAS).'
  : 'このサイトは、大学生を主な対象として、著作権という制度について基礎からわかりやすく学んでもらうことを目的としています。SARTRAS（授業目的公衆送信補償金等管理協会）の共通目的基金の助成を受けて、AXIES（大学ICT推進協議会）が制作しています。';
---

<script>
  import popover from '../scripts/popover';
  popover('.js-nav-trigger', '.js-nav-container');
</script>

<html
  lang={isEn ? 'en' : 'ja'}
  class="scroll-pt-4 scroll-smooth font-noto lg:scroll-pt-8"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={isEn ? '/favicon-en.svg' : '/favicon.svg'}
    />
    <title>{title}</title>
    <meta name="theme-color" content="#0ea5e9" />
    <meta name="description" content={description} />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:type" content={ogType ?? 'article'} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:site_name" content={siteName} />
    <meta
      property="og:image"
      content={Astro.site + (isEn ? 'og-image_en.png' : 'og-image.png')}
    />
    <meta property="og:image:alt" content={siteName} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="manifest" href={isEn ? '/en/manifest.json' : '/manifest.json'} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={isEn ? '/apple-touch-icon-en.png' : '/apple-touch-icon.png'}
    />
  </head>
  <body
    class="js-fix-scrollbar flex min-h-screen flex-col bg-sky-100 text-neutral-700 antialiased"
  >
    <Header isEn={isEn} />
    <slot />
    <Footer isEn={isEn} />
    <slot name="after-footer" />
  </body>
</html>
